aclocal.m4
ar-lib
config.log
config.status
configure
configure~
compile
depcomp
install-sh
**/Makefile
autom4te.cache
**/Makefile.in
**/*.a
**/*.o
**/*.Po
.vscode
include/config.h*
missing
stamp-h1
tests/test_bitmapalloc